/* components/VideoBackground.module.css */
.videoContainer {
    position: absolute;
    width: 100%;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
  }
  
  .video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Optional overlay to darken the video */
    z-index: 1;
  }
  